body.authenticated {
  & .sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 11111;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    animation: headerSlide 0.999s linear;
    border-bottom: 4px solid #e46238;
  }
}

header[role="banner"] {
  background: #fff;
  min-height: 90px;
  transition: all 0.3s ease;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  & > div {
    @include wrapper;
    padding-top: $gutter;
    padding-bottom: $gutter;
    display: flex;
    align-items: center;
    & > div:first-of-type {
      flex: 1;
      img {
        transition: all ease-in-out 0.3s;
        // height: 70px;
      }
    }
  }

  div.mobile-friendly--container {
    text-align: right;
    display: none;
  }
}

@keyframes headerSlide {
  0% {
    opacity: 0;
    transform: translateY(-30%);
    -webkit-transform: translateY(-30%);
    -moz-transform: translateY(-30%);
    -ms-transform: translateY(-30%);
    -o-transform: translateY(-30%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}
